firmware/vivadoProjects/*
firmware/source/sdk/.metadata/
firmware/source/sdk/.sdk/
DAQ/python/udpData/*
DAQ/python/test/udpData/*
DAQ/python/test/data/*
vivado*.jou
vivado*.str
vivado*.log
vivado*.zip
hs_err*.log
webtalk*
.Xil
min_area_pfile.tmp
firmware/simulation/work/
firmware/simulation/transcript
firmware/simulation/msim/
firmware/simulation/compile.log
firmware/simulation/compile.sh
firmware/simulation/modelsim_lib/
firmware/simulation/vsim.wlf
DAQ/python/logs/*
DAQ/python/__pycache__/*
DAQ/python/mappings/__pycache__/*
